*{
	margin: 0;
	padding: 0;
}
body{
	background-color: rgb(239,239,239);
}
.leftCon li:nth-child(4) a{
	/*border: 1px solid red;*/
	text-decoration: underline;
	color: rgb(230,91,27);
}
.wrap_duihuan{
	width: 1180px;
	height: 1100px;
	margin: 20px auto ;
	position: relative;
}
.duihuan_right{
	width: 985px;
	border: 1px solid rgb(211,211,211);
	margin: 0 auto;
	position: absolute;
	top:0;
	right: 0;
	background-color: rgb(255,255,255);
}
.right_top{
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
	border-bottom: 1px solid rgb(201,201,201);
	height: 52px;
	line-height: 52px;
}
.right_top>p:first-child{
	color: rgb(34,120,218);
}
.right_top>p:nth-child(2){
	cursor: pointer;
	color: rgb(38,38,38);
}
.right_top>p:nth-child(2)>a{
	color: rgb(38,38,38);
	text-decoration: none;
}
.right_ul{
	width: 945px;
	margin: 20px auto;
	list-style-type: none;
	border: 1px solid rgb(201,201,201);
}
.right_ul>li:first-child{
	display: flex;
	justify-content: space-between;
	height: 35px;
	line-height: 35px;
	background-color: rgb(239,239,239);
}
.right_ul>li{
	display: flex;
	justify-content: space-between;
	height: 45px;
	line-height: 45px;
	border-bottom: 1px solid rgb(201,201,201);
}
.right_ul>li>p:first-child{
	width: 315px;
	padding-left: 20px;
}
.right_ul>li>p:nth-child(2),.right_ul>li>p:nth-child(3){
	width: 315px;
	text-align: center;
}
.right_ul>li:first-child:hover{
	background-color: rgb(239,239,239);
}
.right_ul>li:hover{
	animation: bounce 0.5s;
	background-color: rgb(253,240,231);
}
.page_div{
	width: 1180px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
}
.tcdPageCode{
	display: inline-block;
	width: 370px;
	margin-left: 210px;
}
