*{
	margin: 0;
	padding: 0;
}
body{
	background-color: rgb(242,242,242);
}
.leftCon li:last-child a{
	text-decoration: underline;
	color: rgb(230,91,27);
}
.wrap_message{
	width: 1180px;
	height:670px;
	overflow: hidden;
	margin: 20px auto;
	position: relative;
}
.wrap_message_R{
	width: 985px;
	height: 610px;
	background-color:rgb(255,255,255);
	position: absolute;
	right: 0;
	top: 0;
	color: rgb(93,93,93);
	border: 1px solid rgb(201,201,201);
}
.R_top{
	border-bottom:1px solid rgb(201,201,201) ;
}
.R_top>p{
	display: inline-block;
	padding: 15px 0 18px 20px ;
	color: rgb(29,99,179);
}
.table{
	width: 925px;
	border-top: 0;
}
.table th,.table td{
	text-align: center;
}
td{
	height: 46px;
	line-height: 46px;
	color: rgb(83,83,83);
}
.trtr1:hover{
	animation:pulse 0.5s;
	background-color: rgb(253,240,231);
	
}
.click1,.click2,.click3,.click4,.back{
	cursor: pointer;
}
.click2{
	color: rgb(229,84,19);
}
.click3,.click4{
	color: rgb(34,120,218);
}
.content{
	display: none;
	overflow: hidden;
}
.content>p:first-child{
	color: rgb(29,99,179);
	text-align: center;
	font-size: 20px;
	padding: 20px 0;
}
.content >span{
	color:rgb(29,99,179) ;
	font-size: 18px;
	float: right;
	margin-right: 30px;
}
.content>p:last-child{
	text-indent: 2em;
	line-height: 20px;
	padding:0 10px ;
	margin-top: 30px;
	margin-bottom: 300px;
}
.tcdPageCode{
	position: absolute;
	bottom: 20px;
	left: 300px;
}
.back{
	display: inline-block;
	float: right;
	line-height: 50px;
	margin-right: 20px;
	color: rgb(29,99,179);
	display: none;
}
